@import '../../../../../styles/global-colors.scss';

.content { 
    height: 30vh;
    display: flex;
    align-items: center;

    .triangle-left {
        width: 0;
        height: 0;
        border-top: 46px solid transparent;
        border-bottom: 46px solid transparent;
        border-left: 99px solid $mblack;
    
        .inner-triangle {
            position: relative;
            top: -37px;
            left: -95px;
            width: 0;
            height: 0;
            border-top: 37px solid transparent;
            border-bottom: 37px solid transparent;
            border-left: 81px solid $myellow;
        }
    }
}