@import "../../../../styles/styles.scss";
@import "../../../../styles/global-colors.scss";

.div-main {
    background-image: url(../../../../assets/images/Cartoon_green_texture_grass.jpg);
    background-size: contain;

    .container {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 700px;
    }

    .div-pokedex {
        background-color: $mred;
        height: 100vh;
        border: $mborder;
        border-radius: 30px;
    }
}
