.main-div {
    height: 100vh;
    background-image: url("../../../../assets/images/home_screen.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .div-footer {
        padding-bottom: 30px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        color: white;
        font-weight: bold;
        font-size: large;
    }
}
