@import "../../../../../styles/styles.scss";
@import "../../../../../styles/global-colors.scss";

$mradius: 80%;

.pokedex-top {
    height: 35vh;
    border-bottom: $mborder;
    width: 100%;

    display: flex;

    .div-lights {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .outer-circle {
        background-color: $mwhite;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: $mborder;

        .inner-circle {
            background-color: $mblue;
            width: 15vh;
            height: 15vh;
            border-radius: 50%;
            margin: 0 auto;
            border: $mborder;

            .reflection-circle {
                background-color: white;
                width: 5vh;
                height: 5vh;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
    }

    .div-minis {
        display: flex;
        height: 100%;
        margin-top: 45px;
    }

    .mini-lights {
        height: 5vh;
        width: 5vh;
        border: $mborder;
        border-radius: $mradius;
        margin-right: 50px;

        .reflection-mini {
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }

    .red-light {
        background-color: $mred;
    }

    .yellow-light {
        background-color: $myellow;
    }

    .green-light {
        background-color: $mgreen;
    }

    @media screen and (max-width: 768px) {
        .mini-lights {
            margin-right: 15px;
        }
    }

    @media screen and (min-width: 486px) {
        .div-minis {
            margin-left: 10vh;
        }
    }

    @media screen and (max-width: 425px) {
        .div-lights {
            margin-left: 10px;
        }
    }

    @media screen and (max-width: 375px) {
        .div-minis {
            display: block;
            margin-left: 50px;
            margin-top: 45px;
        }
    }
}
