// Global colors of application
$mred: #dc132d;
$mblack: #232323;
$mblue: #3daafa;
$mlightblue: #d5e5ffff;
$mwhite: #E1DEE2;
$mdarkwhite: #beb7c0;
$mdarkred: #840B1D;
$myellow: #F9C400;
$mgreen: #52AE5F;