<div class="div-main">
  <div class="container-fluid">
    <div class="row">
      <!-- Left side -->
      <div class="col-md-6 padding-0">
        <div class="div-pokedex container">
          <pokedex-top></pokedex-top>
          <div class="middle-content">
            <div class="pokemon-screen">
              <ng-container *ngIf="!pokemonDetails; else noPokemon">
                <screen-pokemon>
                </screen-pokemon>
              </ng-container>
              <ng-template #noPokemon>
                <screen-pokemon [imgUrl]="pokemonDetails.sprites.other.dream_world.front_default">
                </screen-pokemon>
              </ng-template>
            </div>
            <div class="pokemon-search">
              <div class="content-search">
                <div class="div-input">
                  <input
                    [(ngModel)]="pokemonToSearch"
                    type="text"
                    placeholder="Name or id..."
                  />
                </div>

                <div class="div-btn">
                  <button-pokedex
                    [text]="'OK'"
                    (click)="getPokemonDetail(pokemonToSearch)"
                  ></button-pokedex>
                </div>
              </div>
            </div>
            <div class="pokemon-list">
              <list-pokemon></list-pokemon>
            </div>
          </div>
        </div>
      </div>
      <!-- Right side -->
      <div class="col-md-6 padding-0 reverse-column">
        <div class="div-pokedex container pokedex-right"></div>
      </div>
    </div>
  </div>
</div>
