<div class="div-main">
  <div class="container-fluid">
    <div class="row">
      <!-- Left side -->
      <div class="col-md-6 padding-0">
        <div class="div-pokedex container">
          <pokedex-top [loading]="isLoading"></pokedex-top>
          <div class="middle-content">
            <div class="pokemon-screen" [ngSwitch]="true">
              <screen-pokemon
                *ngIf="!pokemonDetails && !errorMessage"
              ></screen-pokemon>
              <screen-pokemon
                *ngIf="pokemonDetails"
                [imgUrl]="
                  pokemonDetails.sprites.other.dream_world.front_default
                "
              ></screen-pokemon>
              <screen-pokemon
                *ngIf="errorMessage"
                [txtError]="'Pokémon not found!'"
              ></screen-pokemon>
            </div>
            <div class="pokemon-search">
              <div class="content-search">
                <div class="div-input">
                  <input
                    [(ngModel)]="pokemonToSearch"
                    type="text"
                    placeholder="Name or id..."
                    (keypress)="keyPressAlphaNumeric($event)"
                  />
                </div>

                <div class="div-btn">
                  <button-pokedex
                    [text]="'OK'"
                    (click)="getPokemonDetail(pokemonToSearch)"
                  ></button-pokedex>
                </div>
              </div>
            </div>
            <div class="pokemon-list">
              <list-pokemon></list-pokemon>
            </div>
          </div>
        </div>
      </div>
      <!-- Right side -->
      <div class="col-md-6 padding-0 reverse-column">
        <div class="div-pokedex container pokedex-right">
          <div class="middle-content">
            <div class="pokemon-screen">
              <details-screen></details-screen>
            </div>
            <div class="pokemon-name">
              <name-pokemon></name-pokemon>
            </div>
            <div class="ornament">
              <pokedex-ornament></pokedex-ornament>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
