<div class="div-main">
  <div class="container-fluid">
    <div class="row">
      <!-- Left side -->
      <div class="col-md-6 padding-0">
        <div class="div-pokedex container">
          <pokedex-top></pokedex-top>
          <div class="middle-content">
            <div class="pokemon-screen">
              <screen-pokemon
                [imgUrl]="
                  'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png'
                "
              ></screen-pokemon>
            </div>
            <div class="pokemon-search">
              <div class="content-search">
                <div class="div-input">
                  <input type="text" name="" placeholder="Name or id..." />
                </div>

                <div class="div-btn">
                  <button-pokedex [text]="'OK'"></button-pokedex>
                </div>
              </div>
            </div>
            <div class="pokemon-list">
              <list-pokemon></list-pokemon>
            </div>
          </div>
        </div>
      </div>
      <!-- Right side -->
      <div class="col-md-6 padding-0 reverse-column">
        <div class="div-pokedex container pokedex-right"></div>
      </div>
    </div>
  </div>
</div>
