@import '../../../../../styles/global-colors.scss';


.content {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .div-bottom {
        height: 30px;
        width: 60%;
        border: 7px solid $mblack;
        border-radius: 30px;
    }
}