@import '../../../../../styles/global-colors.scss';
@import '../../../../../styles/styles.scss';

.content {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .div-bottom {
        height: 30px;
        width: 60%;
        border: $mborder;
        border-radius: 30px;
    }
}