<div class="pokedex-top">
  <div class="div-left">
    <ng-container *ngIf="loading; else normal">
      <div class="outer-circle">
        <div class="inner-circle flicker-fast">
          <div class="reflection-circle"></div>
        </div>
      </div>
    </ng-container>
    <ng-template #normal>
      <div class="outer-circle">
        <div class="inner-circle">
          <div class="reflection-circle"></div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="div-right">
    <div class="red-light mini-lights">
      <div class="reflection-mini"></div>
    </div>
    <div class="yellow-light mini-lights">
      <div class="reflection-mini"></div>
    </div>
    <div class="green-light mini-lights">
      <div class="reflection-mini"></div>
    </div>
  </div>
</div>
