<div class="pokedex-top">
  <!-- <div class="div-lights">
    <div class="outer-circle">
      <div class="inner-circle">
        <div class="reflection-circle"></div>
      </div>
    </div>

    <div class="div-minis">
      <div class="red-light mini-lights">
        <div class="reflection-mini"></div>
      </div>
      <div class="yellow-light mini-lights">
        <div class="reflection-mini"></div>
      </div>
      <div class="green-light mini-lights">
        <div class="reflection-mini"></div>
      </div>
    </div>
  </div> -->

  <div class="div-left">
    <div class="outer-circle">
        <div class="inner-circle">
          <div class="reflection-circle"></div>
        </div>
      </div>
  </div>

  <div class="div-right">

  </div>
</div>
