@import '../../../../../styles/global-colors.scss';
@import '../../../../../styles/styles.scss';

.outer-square {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: $mlightgrey;
    border: $mborder;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 2vh;
    font-weight: bold;

    .top-side {
        height: 50%;
        width: 100%;
        background-color: black;
    }

    .bottom-side {
        height: 50%;
        width: 100%;
        background-color: pink;
    }
}